@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Card>
<style>
body {
  background-image: url('https://get.wallhere.com/photo/sky-clouds-fantasy-city-ArtStation-artwork-fantasy-art-1747289.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>

<div class="search-content container-fluid">
  <div class="row">
    <!-- <div class="col">
      @using(Html.BeginForm("GetCard", "Cards"))
      {
        @Html.Label("Get Card by Name")
        @Html.TextBox("name")
        <input type="submit" value="GetCard" class="btn btn-primary btn-sm"/>
      }
    </div> -->
    <div id="search-container" class="">
      @using(Html.BeginForm("Search", "Cards", new {}, FormMethod.Post, false, new { @class = "form-inline"}))
      {
        <div class="input-group">
          <div  class="form-group" style="margin-right: 5px;">
            @* @Html.Label("Search All by Name") *@
            @Html.TextBox("name", "", new { @class = "form-control-sm", placeholder="Search by name"})
          </div>
          <div class="form-group" style="margin-right: 5px;">
            @* @Html.Label("Search by Color") *@
            @Html.DropDownList("color", new List<SelectListItem>
            {
              new SelectListItem { Text = "Black", Value = "B"},
              new SelectListItem { Text = "Blue", Value = "U"},
              new SelectListItem { Text = "Red", Value = "R"},
              new SelectListItem { Text = "White", Value = "W"},
              new SelectListItem { Text = "Green", Value = "G"},
              }, "Select Color", new { @class = "form-control-sm", @style = "width:163px;"})
            </div>
            <div class="form-group" style="margin-right: 5px;">
            @* @Html.Label("Search by Type") *@
            @Html.TextBox("type", "", new { @class = "form-control-sm", placeholder="Search by type"})
          </div>
        </div>
          <input type="submit" value="Search" class="btn btn-primary btn-sm" style="margin-top: 5px; width: 150px"/>
      }
    </div>
  </div>
</div>
  <div class="row row-cols-2 row-cols-md-2 g-4" id="cardsDiv" class="d-flex justify-content-center">
    <!-- <div class="cardsBackground" style="height: 100vh"> </div> -->
    @foreach (Card card in Model)
    {
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/circle_full_set.svg" alt="Elemental magic orbs" style="height: 8rem;">
        <div class="card-body">
          <p class="card-text">@Html.ActionLink($"{card.Name}", "Details", new { name = card.Name })</p>
        </div>
      </div>
    }
  </div>







  