@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model List<Card>

<h3>Search Results:</h3>
    @if (Model.Count() != 0)
    {
      @for (int i = 0; i < Model.Count; i++)
      {
        <div class="card-content row">
          <div class="card-results-text-wrap col-7">
            <p>@Html.ActionLink($"{Model[i].Name}", "Details", new { name = Model[i].Name })</p>
            <p>@Model[i].Type_Line</p>
            <p>@Model[i].Set_Name</p>
            <p>@Model[i].Mana_Cost</p>
          </div>
          <div class="card-results-img-wrap col-4">
            <img class="card-results-img" alt="Card image" src="@Url.Content(ViewBag.CardListImages[i])"/>
          </div>
        </div>
      }
    }
    else
    {
      <p>"No cards found!"</p>
    }




